3_na3
3_na5
other_func.o
main_func.o
program
programming/lab_12/3
programming/lab_12/static lib/a.out
programming/lab_12/static lib/app
programming/lab_12/static lib/coffe_exe
programming/lab_12/static lib/coffeehouse.o